<div class="container-fluid topLine">
  <div>
    <h1>SODUKU BOARD</h1>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4 divResultButton">
        <p><input type="button" id="showResultButton" class="btn btn-default btn-block" value="Show Result" onclick="displayBoard()"></p>
      </div>
      <div class="col-4">
      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <% (1..9).each do |row| %>
    <div class="row">
      <div class="col-2">
        <div class="sideLeft">
          <p>Row <%= row %></p>
        </div>
      </div>
      <% (1..9).each do |column| %>
        <div class="col-1">
          <div class="item">
            <p>xx</p>
          </div>
        </div>
      <% end %>
      <div class="col-1">
        <div class="sideRight">
          <p>YY</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
