<div class="container">
  <div class="codrops-top clearfix">
    <a class="codrops-icon codrops-icon-prev" href="#"><span>Previous Project</span></a>
    <span class="right"><a class="codrops-icon codrops-icon-next" href="https://boiling-falls-48338.herokuapp.com"><span>Next Project</span></a></span>
  </div>
  <header>
    <h1>SODUKU BOARD</h1>
    <nav id="codrops-demos" class="codrops-demos">
      <%= link_to 'Load Soduku Board', sodukus_load_soduku_board_path %>
      <a href="#set-2">Solution</a>
      <a href="#set-3">Code</a>
      <a href="/">HOME</a>
    </nav>
    <p id="soduku-description">
      This project is part of a question from Ruby Magic Night of SD Ruby Meetup. The question is to solve soduku puzzle with Ruby. Please checkout my code on github with the above link.
    </p>
  </header>

  <section>
    <div class="soduku-inner-board">
      <% (1..9).each do |row| %>
        <div class="row">
          <div class="col-2">
            <div class="sideLeft">
              Row <%= row %>
            </div>
          </div>
          <% (1..9).each do |column| %>
            <div class="col-1">
              <div class="soduku-item">
                <%= @soduku[row][column] == '0' ? '' : @soduku[row][column] %>
                xx
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
