// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #aaa;
	background: #fff;
	margin: 0px;
}

a {
	color: #ccc;
	text-decoration: none;
}

.container {
	height: 100%;
	position: relative;
}

.container > header {
	margin: 0 auto;
	padding: 2em 1em 2em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #fff;
	z-index: 999999;
	-webkit-backface-visibility: hidden;
}

.container > section {
	min-height: 100%;
	margin: 0 auto;
	padding: 20em 3em;
}

// new line for quite
.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.6;
}

#set-1 {
	background: #41ab6b;
}

#set-2 {
	background: #eea303;
}

#set-3 {
	background: #f06060;
}

// top navigation style
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	width: 100%;
	font-size: 1em;
	line-height: 2.2;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
}

// space out the menu word
.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top a:hover {
	color: #777;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.codrops-icon-next:before {
	content: "\e000";
}

.codrops-icon-about:before {
	content: "\e003";
}

/* game menu buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.6em 1em;
	border: 3px solid #ddd;
	font-weight: 700;
}

.codrops-demos a:hover {
	opacity: 0.6;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	border: 3px solid #aaa;
	opacity: 1;
	color: #aaa;
}

//  label
.simform {
	position: relative;
	margin: 0 auto;
	max-width: 860px;
	width: 100%;
	text-align: center;;
	font-size: 2.5em;
	color: rgba(0,0,0,0.45);
}

// Question style
.simform .question {
	position: relative;
	display: block;
}

// Input
.question input {
	display: block;
	margin: 0.3em 0 0 0;
	padding: 0.5em 1em 0.5em 0.7em;
	width: calc(100% - 2em);
	border: none;
	background: white;
	color: rgba(0,0,0,0.6);
	font-size: 1em;
}

.question input:focus,
.simform button:focus {
	outline: none;
}

// question button
.answer {
	position: absolute;
	right: 6em;
	bottom: 6.5em;
	background: none;
	border: none;
	text-align: center;
	opacity: 1;
	z-index: 100;
	cursor: pointer;
}

.answer-color-set1 {
	color: rgba(65,171,107,0.7);
}

.answer-color-set2 {
	color: rgba(238,163,3,0.7);
}

.answer:hover {
	color: rgba(65,171,107,0.9);
}

.answer::after {
	position: absolute;
	// top: 0;
	// left: 0;
	width: 100%;
	height: 100%;
	content: "\e000";
	font-family: 'codropsicons';
	font-size: 40pt;
}

.answer-message {
	margin: 1em auto;
	max-width: 860px;
	text-align: center;;
	font-size: 2.5em;
	color: rgba(0,0,0,0.45);
}

.highlight-bg {
	width: calc(100% - 2em);
	background-color: rgba(0,0,0,0.1);
	padding: 0.2em;
}

@media screen and (max-width: 800px) {

	.hi-icon {
		margin: 15px !important;
	}

	.container > section {
		padding: 20em 1em;
	}

}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}

// Tic Tac Toe

.gameTable {
  width: 410px;
  margin: auto;
	background-color: white;
}

.gameCell {
  height: 130px;
  width: 130px;
	background-color: gray;
}

.divCell {
	text-align: center;
	color: white;
}
