// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot?-9heso');
	src:url('fonts/icomoon/icomoon.eot?#iefix-9heso') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?-9heso') format('woff'),
		url('fonts/icomoon/icomoon.ttf?-9heso') format('truetype'),
		url('fonts/icomoon/icomoon.svg?-9heso#icomoon') format('svg');
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #aaa;
	background: #fff;
	margin: 0px;
}

a {
	color: #ccc;
	text-decoration: none;
}

.container {
	height: 100%;
	position: relative;
}

.container > header {
	margin: 0 auto;
	padding: 2em 1em 2em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #fff;
	z-index: 999999;
	-webkit-backface-visibility: hidden;
}

.container > section {
	min-height: 100%;
	margin: 0 auto;
	padding: 20em 3em;
}

// new line for quite
.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.6;
}

#set-1 {
	background: #41ab6b;
}

#set-2 {
	background: #eea303;
}

#set-3 {
	background: #f06060;
}

// top navigation style
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	width: 100%;
	font-size: 1em;
	line-height: 2.2;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
}

// space out the menu word
.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #777;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.codrops-icon-archive:before {
	content: "\e002";
}

.codrops-icon-next:before {
	content: "\e000";
}

.codrops-icon-about:before {
	content: "\e003";
}


/* game menu buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.6em 1em;
	border: 3px solid #ddd;
	font-weight: 700;
}

.codrops-demos a:hover {
	opacity: 0.6;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	border: 3px solid #aaa;
	opacity: 1;
	color: #aaa;
}

//  label style
.simform {
	position: relative;
	margin: 0 auto;
	padding: 2em 0;
	max-width: 860px;
	width: 100%;
	text-align: center;;
	font-size: 2.5em;
	color: rgba(0,0,0,0.45);
}

.simform .submit {
	display: none;
}

/* Question style */
.simform .question {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
}

.simform .question:before {
	content: '';
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	left: 0;
	top: 1.5em;
	width: 100%;
	height: 2.35em;
}

// Input field
.question input {
	display: block;
	margin: 0.3em 0 0 0;
	padding: 0.5em 1em 0.5em 0.7em;
	width: calc(100% - 2em);
	border: none;
	background: transparent;
	color: rgba(0,0,0,0.8);
	font-size: 1em;
	line-height: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.question input:focus,
.simform button:focus {
	outline: none;
}

/* Next question button */
.answer {
	position: absolute;
	right: 0;
	bottom: 2.15em; /* padding-bottom of form plus progress bar height */
	display: block;
	padding: 0;
	width: 2em;
	height: 2em;
	border: none;
	background: none;
	color: rgba(0,0,0,0.4);
	text-align: center;
	opacity: 0;
	z-index: 100;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-20%);
	transform: translateX(-20%);
	pointer-events: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.answer:hover {
	color: rgba(0,0,0,0.5);
}

.answer::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "\e600";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 2;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 800px) {

	.hi-icon {
		margin: 15px !important;
	}

	.container > section {
		padding: 20em 1em;
	}

}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}
